<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show all Users</title>
</head>
<body>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Person</th>
        <th>Year of birth</th>
    </tr>
    <tr th:each="person : ${people}">
        <td th:text="${person.getId()}">Ячейка 4</td>
        <td> <a th:href="@{/{id}/edit (id=${person.getId()})}" th:text="${person.getName()}">user</a></td>
        <td th:text="${person.getAge()}">Ячейка 3</td>
    </tr>
</table>

<form th:method="GET" th:action="new" th:object="${user}">
    <input type="submit" value="Create user"/>
</form>


</body>
</html>